<!DOCTYPE html>
<html>

<head>
  <style>
    body{background-color: skyblue; font-family: Verdana, Geneva, Tahoma, sans-serif; color: #fff;padding: 30px;}
    h1, h2{text-transform: uppercase; letter-spacing: 2px; text-align: center;}
    h1{ font-size: 48px;}
    h2{ font-size: 30px;}
    p, ul{ font-size: 16px; width: fit-content; margin: auto;}
    form{display: flex; flex-direction: column; width: 50%; margin: auto;}
    input{margin: 8px 0;}
  </style>
</head>

<body>
  <%-include ('partials/navbar.ejs') %>
  <h1>Contact Us</h1>
  <p>Thanks for getting in touch!</p>
  <p>You contacted <%= data.person %> in the <%= data.dept %> department.</p>
  <p>We will reply to you at <%= data.email %></p>
</body>

</html>
