<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/assets/styles.css" type="text/css">
</head>

<body>
  <%-include ('partials/navbar.ejs') %>
  <h1>Welcome to the tribute website</h1>
  <p>A tribute to the best website in the world</p>
</body>

</html>
