<!DOCTYPE html>
<html>

<head>
  <style>
    body{background-color: skyblue; font-family: Verdana, Geneva, Tahoma, sans-serif; color: #fff;padding: 30px;}
    h1, h2{text-transform: uppercase; letter-spacing: 2px; text-align: center;}
    h1{ font-size: 48px;}
    h2{ font-size: 30px;}
    p, ul{ font-size: 16px; width: fit-content; margin: auto;}
  </style>
</head>

<body>
  <h1>Welcome to the profile of <%= person %></h1>
  <p><strong>Age: </strong><%= data.age%></p>
  <p><strong>Job: </strong><%= data.job%></p>
  <h2>Hobbies</h2>
  <ul>
    <% data.hobbies.forEach(hobbie => {%>
      <li><%= hobbie %></li>
    <% }) %>
  </ul>
</body>

</html>
